<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <style>
        body {
            color: red;
        }
    </style>
</head>

<body>
    <%- include("common/header")%>

    <h1>My profile page with ejs</h1>

    <p>Welcome, <%= user.name %></p>
    <p>Email: <%= user.email %></p>
    <p>City: <%= user.city %></p>

    <ul>
        <% user.skills.forEach((skill) => {%>
            <li><%= skill %></li>
        <% }) %>
    </ul>
    
</body>

</html>